{% extends "bootstrap/base.html" %}

{% block title %}Update Taks{% endblock %}


{% block body %}
{% block content %}
<div class="container">
    <h1  class="text-center">Update Task</h1>

    <form action="/update/{{task.id}}" method="post" class="form-inline text-center">
        <div class="form-group">
            <input class="form-control" type="text" name="content" id="content" value="{{task.content}}">
        </div>
        <input class="btn btn-warning" type="submit" value="Update">
    </form>
</div>
{% endblock%}
{% endblock%}